<h1>Playground</h1>
<h2>Input script</h2>
<textarea id="inputscript" style="margin: 0px; width: 100%; height: 700px;">
7+ items?:
  'y':
    buy shirts?:
      'y':
        buy ties?:
          'y': 12%
          'n': 7%
      'n': 7%
  'n':
    buy shirts?:
      'y':
        buy ties?:
          'y': 5%
          'n': 0%
      'n': 0%
</textarea>
<p style="margin: 0px; width: 100%; height: 100%;">
   <button id="render" style="margin: 0px; width: 80%; height: 100%;">GO</button>
</p>
<h2>Table</h2>
<div id="table" style="margin: 0px; width: 100%; height: 100%;"></div>
<script src="https://freddiefujiwara.github.io/dtdt/src/dtdt.js"></script>
<script src="https://freddiefujiwara.github.io/dtdt/src/yaml.min.js"></script>
<script src="https://freddiefujiwara.github.io/dtdt/src/markdown.min.js"></script>
<script src="https://code.jquery.com/jquery-git.min.js"></script>
<script type="text/javascript">
   //<![CDATA[
$("#render").click(() => {
    const inputscript = $("#inputscript").val();
    // url change

    if (!(queries["g"] && queries["g"].length > 0)) {
        window.history.pushState("", "", "https://freddiefujiwara.github.io/dtdt/?i=" + encodeURIComponent(inputscript) + "#inputscript");
    }
    const d = new Dtdt(yaml);
    d.setContents(inputscript)
        .initialize();

    let output = new Array();
    const log = console.log;
    console.log = function(line) {
        output.push(line);
    };

    d.printTable();
    $("#table").html(markdown.markdown.toHTML(output.join("\n"), "Maruku"));
    console.log = log;

});

// for default inputscript
// ex) https://freddiefujiwara.github.io/dtdt/i=[url encoded inputscript]
let queries = {};
document.location.search.substr(1).split('&').forEach((q) => {
    const i = q.split('=');
    if (i.length > 1) {
        queries[i[0].toString()] = decodeURIComponent(i[1].toString());
    }
});
if (queries["i"] && queries["i"].length > 0) {
    $("#inputscript").val(queries["i"]);
}
if (queries["g"] && queries["g"].length > 0) {
    $.ajax({
        url: 'https://api.github.com/gists/' + queries["g"],
        type: 'GET',
        dataType: 'jsonp'
    }).then((gistdata) => {
        $("#inputscript").val(gistdata.data.files[Object.keys(gistdata.data.files)[0]].content);
    }, (e) => {
        console.err(e);
    });
}
   //]]>
</script>
